# Exclude node_modules
node_modules/

# Exclude git directory and metadata
.git/
.gitignore

# Exclude local environment files
.env
env.yaml

# Exclude logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
